@{
  Layout = "_Layout";
}

<h1>Welcome</h1>

<a href="/stylist/new"><button type="button" class="btn btn-info">Add Stylist</button></a>
<a href="/client/new" type="button" class="btn btn-info"><button>Add Client</button></a>
<a href="/appointment/new"><button type="button" class="btn btn-info">Add Appointment</button></a>


