@{
  Layout = "_Layout";
}

<h1>Welcome</h1>

<a href="/stylist/new" class="btn btn-info">Add Stylist</a>
<a href="/client/new" class="btn btn-info">Add Client</a>
<a href="/appointment/new" class="btn btn-info">Add Appointment</a>


